In [ ]:
# Exercise-2 - Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

In [6]:
# Exercise-3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook, Data Science Tools and Ecosystem are summarized.

In [19]:
# Exercise-10 - Insert a markdown cell to list Objectives

__Objectives:__

__Objectives:__

- List Data Science Languages
- List Data Science Libraries
- List Data Science Tools
- Introduction to Basic Arithematic Operations
- Coversion of Minutes to Hours using basic mathematical operations

- List Data Science Languages
- List Data Science Libraries
- List Data Science Tools
- Introduction to Basic Arithematic Operations
- Coversion of Minutes to Hours using basic mathematical operations

In [7]:
# Exercise-4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R Programming
3. SQL - Structured Query Language
4. Java
5. Julia

Some of the popular languages that Data Scientists use are:
1. Python
2. R Programming
3. SQL - Structured Query Language
4. Java
5. Julia

In [8]:
# Exercise-5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Plotly
4. dplyr
5. caret

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Plotly
4. dplyr
5. caret

In [9]:
# Exercise-6 - Create a markdown cell with a table of Data Science tools

| _*Data Science Tools*_ |
| ---------------------- |
| JupyterLab |
| Virtual Studio Code (VS Code) |
| Rstudio |

| _*Data Science Tools*_ |
| ---------------------- |
| JupyterLab |
| Virtual Studio Code (VS Code) |
| Rstudio |

In [10]:
# Exercise-7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python 
.

### Below are a few examples of evaluating arithmetic expressions in Python 
.

In [11]:
# Exercise-8 - Create a code cell to multiply and add numbers

_This a simple arithmetic expression to mutiply then add integers._

_This a simple arithmetic expression to mutiply then add integers._

In [15]:
(3*4)+5

17

In [16]:
# Exercise-9 - Create a code cell to convert minutes to hours

_This will convert 200 minutes to hours by diving by 60_

_This will convert 200 minutes to hours by diving by 60_

In [17]:
200/60

3.3333333333333335

In [20]:
# Exercise-11 - Create a markdown cell to indicate the Author's name

## Author ##
Yagna

## Author ##
Yagna